.main {
  background-color: white;
  min-height: 100vh;
  text-align: center;
}

.title {
  color: black;
  padding-top: 43px;
  padding-bottom: 43px;
}

.formulario {
  width: 300px;
  background-color: green;
  padding: 20px;
  display: inline-block;
  text-align: left;
  margin-bottom: 93px;
}

.showPerson {
  color: black;
  border: 1px;
  border-color: black;
  padding: 123px;
}
